
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0a0b12;
    background-image: radial-gradient(1200px 600px at 50% -200px, #1b1040 0%, transparent 60%);
    color: #eaf1ff;
    overflow-x: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
